<form [formGroup]="loginForm" (ngSubmit)="onSubmit()"><!--formgroup est ici une propriété du formulaire, liant le formaire à loginForm. Réaction ici à l'évènemment onSubmit-->
    <input type="email" placeholder="email" formControlName="email" >
    <input type="text" placeholder="Prénom" formControlName="firstName" /><!--les champs du formulaire sont connectés au formulaire de app.components au travers du formControlName faisant référence à leurs versions du formulaire typeScript-->
    <input type="text" placeholder="Nom" formControlName="lastName" >
    <input type="password" placeholder="password" formControlName="password" >
    <input type="number" placeholder="Age" formControlName="age">
    <button disabled="!loginForm.valid">M'inscrire</button>
</form>
